[submodule "dinov3"]
	path = dinov3
	url = git@github.com:facebookresearch/dinov3.git
[submodule "CutMix-PyTorch"]
	path = CutMix-PyTorch
	url = git@github.com:clovaai/CutMix-PyTorch.git
[submodule "diode"]
	path = diode
	url = git@github.com:MJBaker98/diode-devkit.git
[submodule "DPT"]
	path = DPT
	url = git@github.com:MJBaker98/DPT.git
